<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Chicanadas</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Docs CSS -->
    <link type="text/css" href="assets/css/docs.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/blog.css">
  </head>
  <body class="body">
    <div id="app" class="display-none">
      <header class="header">
          <div class="menu-icon" @click="menu_overlay">
              <span class="menu-icon__line menu-icon__line-left"></span>
              <span class="menu-icon__line"></span>
              <span class="menu-icon__line menu-icon__line-right"></span>
          </div>
              
          <div class="nav">
              <div class="nav__content display-none">
                  <ul class="nav__list">
                      <li class="nav__list-item"><a href="#" @click="load_posts">Blog</a></li>
                      <li class="nav__list-item"><a href="#" @click="menu_overlay">Github</a></li>
                      <li class="nav__list-item"><a href="#" @click="menu_overlay">LinkedIn</a></li>
                      <li class="nav__list-item"><a href="#" @click="menu_overlay">Resume</a></li>
                  </ul>
              </div>
          </div>
              
          <div class="site-content">
              <h1 class="site-content__headline"><a href="#" @click="load_posts"><span class="mis">Mis</span> <span class="chicanadas">Chicanadas</span></a></h1>
              <a href="#" @click="filter_icon_active('.fa-th-large')"> <i class="fas fa-th-large fa_icon fa_icon_active"></i> </a>
              <a href="#" @click="filter_icon_active('.fa-th-list')"> <i class="fas fa-th-list fa_icon"></i> </a>
          </div>
      </header>
      <div class="container">
        <div id="posts" v-if="show_posts">
          <div v-for="post in posts">
            <a href="#" @click="load_page(post.filename)" :data-post="post.id"><h1>{{post.title}}</h1></a>
            <p class="post_author_date"> <a href="#" @click="profile">Luis Gomez</a> &#8226; {{post.date}}</p>
            <p v-show="filter_active">
              {{post.description}}
            </p>
            <img v-show="filter_active" @click="load_page(post.filename)" :src="post.img"/>
            <br>
            <a href="#" v-show="filter_active" @click="load_page(post.filename)" class="read_more" :data-post="post.id">
              Leer mas <span class="arrow">&#x2192;</span>
            </a>
            <hr v-show="filter_active">
          </div>
        </div>
        <div id="post" v-if="show_post" v-html="post_data">
        </div>
        <div id="profile" v-if="show_profile">
            <img src="assets/img/user.svg"/>
            <h2>Luis Gomez</h2>
            <h5>South Bend, Indiana</h5>
            <span style="margin-top: 1rem;">Fullstack Developer</span>
            <span style="font-weight: 300;">xtokio@gmail.com</span>
            <p>
              <a href="#"> <i class="fab fa-linkedin"></i> LinkedIn </a>
              <a href="#"> <i class="fab fa-github"></i> Github </a>
              <a href="#"> <i class="fab fa-bitbucket"></i> Bitbucket </a>
            </p>
        </div>
      </div>

    </div>
    <script src="assets/js/domready.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="https://kit.fontawesome.com/127d55701c.js"></script>
    <script src="assets/vendor/prism.min.js"></script>
    <script src="assets/vendor/prism.bash.js"></script>
    <script src="assets/vendor/prism.nginx.js"></script>
    <script src="assets/vendor/prism.ruby.js"></script>
    <script src="assets/vendor/prism.yaml.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/blog.js"></script>
  </body>
</html>